<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Ajout des Compte Pour les clients
		</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/notyf.min.css">
	</head>
	<body>

		{% if ok is defined and ok == 0 %}
			<script src="js/notyf.min.js"></script>
			<script>
				var t = new Notyf({
                duration: 2000,
                position: {
                x: 'right',
                y: 'top'
                }
                });
                t.error("Echec d'ajout du Compte");
			</script>

		{% endif %}

		<div class="card col-md-6 offset-md-3    mt-5">
			<div class="card-header text-white bg-primary">Ajout d'un Compte pour un Client</div>
			<div class="card-body">

                {{ form_start(form) }}

                    <div class="form-group">
                        {{ form_row(form.numero) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.dateCreate) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.solde) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.client) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.ajouter) }}
                    </div>

                {{ form_end(form) }}

			</div>
		</div>
		<script>
			document.getElementById('compte_dateCreate').setAttribute('type', 'date');
		</script>
	</body>
</html>
